{% extends('base.html.twig') %}
{% block section %}
    <section class="clearfix categoryGrid">

        <div class="container">
            <div class="row">

                <div class="col-xs-12">
                    <div class="dashboardBoxBg mb30">
                        <div class="profileIntro paraMargin">
                            <h3>Liste des Actualités</h3>
                            <div class="row">
                                {% for actualite in act %}
                                <div class="post post-boxed">
                                    <div class="post-content">
                                        <h2><a href="#">{{ actualite.titre }}</a></h2><a>
                                            <p>{{ actualite.description }}</p>
                                        </a></div><!-- /.post-content --><a>

                                    </a>
                                    <div class="post-meta clearfix"><a>
                                        </a><div class="post-meta-author"><a>By </a><a href="#">{{ actualite.idMunicipalite.nom }}</a></div><!-- /.post-meta-author -->
                                        <div class="post-meta-date">{{ actualite.getDate()|date }}</div><!-- /.post-meta-date -->
                                        <div class="post-meta-date">{{ actualite.theme }}</div><!-- /.post-meta-date -->
                                        {% for x in app.user.Roles %}
                                        {% if x == "ROLE_MUNICIPALITE" %}
                                        <div class="post-meta-more"><a href="{{ path('supprimer',{'id':actualite.id}) }}" class="btn btn-danger">Supprimer<i class="fa fa-remove"></i></a></div>
                                        {% endif %}
                                        {% endfor %}

                                    </div><!-- /.post-meta -->



                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section>
{% endblock %}
{% block js %}
    <script>
        function popup(page) {
            window.open(page,'popup','width=685, height=455, toolbar=false, scrollbars=false');
        }
    </script>
{% endblock %}
